.App {
  text-align: center;
}

.App-header {
  position: fixed;
  width: 100%;
  max-height: 100px;
  z-index: 10;
  right: 0;
  background-color: #990099;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
}

.App-title {
  font-size: 1.5em;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}

.list {
  width: 300px;
  max-height: 100vh;
  padding-top: 100px;
  background-color: #990099;
}

.containerMap {
  padding-top: 100px;
  width: calc(100% - 300px);
}

.error {
  border: 1px solid #f33;
  border-radius: 5px;
  background-color: #f33;
  color: #fff;
  padding: 20px;
  margin-top: 20px;
  display: inline-block;
}

.exclamationMark {
  font-size: 1.25em;
  margin-right: 10px;
}